<!-- footer 頁底列 -->
<div class="section">
  <div class="columns">
    <div class="column is-3">
      <div class="footer-col">
        <h3>關於我們</h3>
        <a href="#">票務通致力於提供最優質的票務服務</a>
      </div>
    </div>
    <div class="column is-3">
      <div class="footer-col">
        <h3>客戶服務</h3>
        <a href="#">常見問題</a>
        <a href="#">聯絡我們</a>
      </div>
    </div>
    <div class="column is-3">
      <div class="footer-col">
        <h3>售票須知</h3>
        <a href="#">購票說明</a>
        <a href="#">退票政策</a>
      </div>
    </div>
    <div class="column is-3">
      <div class="footer-col">
        <h3>追蹤我們</h3>
        <a href="#">Facebook</a>
        <a href="#">Intagram</a>
      </div>
    </div>
  </div>
</div>
