<!-- 票種欄 -->
<div class="content">
  <div class="box">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="title is-5">VIP區</p>
        </div>
        <div class="level-item">
          <span class="tag is-warning">剩餘 2</span>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p class="title is-5">NT$2,800</p>
        </div>
        <!-- 調整數量按鈕區塊 -->
        <div class="level-item">
          <div class="field has-addons">
            <div class="control">
              <button class="button is-light substract">-</button>
            </div>
            <div class="control">
              <input
                class="input has-text-centered count"
                type="number"
                value="0"
                style="width: 50px"
              />
            </div>
            <div class="control">
              <button class="button is-light add">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
